.mainBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.box1 {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input {
    margin: 10px;
    border: 1px solid black;
    padding: 2px;
}

p {
    font: bold 20px arial;
    align-self: center;
}

.container1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box2 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

img {
    width: 200px;
    height: 200px;
}

.box3 {
    display: flex;
    flex-direction: column;
}

textarea {
    width: 700px;
    height: 200px;
    margin: 50px;
}

button {
    width: 100px;
    align-self: center;
}